<div class="columns has-text-light is-vcentered">
  <div class="column"></div>
  <div class="column is-primary is-two-thirds">
    <p>
      My name is Noah Schepers and like to consider myself a
      <a href="/code" class="has-text-light">
        <span class="neatoButton is-italic has-text-weight-bold">web developer
        </span>
      </a>.
      <br>
      <br> I also happen to create
      <a href="/media" class="has-text-light">
        <span class="neatoButton is-italic has-text-weight-bold">wedding videos
        </span>
      </a>
      for whoever has heard that I am capable of using multiple cameras and a video editor.
      <br>
      <br> Do not hesitate to
      <a href="/contact" class="has-text-light">
        <span class="neatoButton is-italic has-text-weight-bold">get in touch
        </span>
      </a>
      with me if you have any projects you would like to discuss in further detail.
    </p><br><br>
    <div id="fader-2">
      <a href="/docs/resume.pdf" class="has-text-dark">
        <button class="button is-light">view my cv</span>
      </a>
    </div>
  </div>
  <div class="column"></div>
</div>
