<div class="container">
    <div class="row text-center">
        <div class="col">
            <p>
                My name is Noah Schepers and like to consider myself a 
                <a href="/code"><span class="button btn-outline-light font-weight-bold font-italic">web developer</span></a>.
                <br><br>
                I also happen to create 
                <a href="/media"><span class="button btn-outline-light font-weight-bold font-italic">wedding videos</span></a>
                for whoever has heard that I am capable of using multiple cameras and a video editor. 
                <br><br>
                Do not hesitate to 
                <a href="/contact"><span class="button btn-outline-light font-weight-bold font-italic">get in touch</span></a>
                with me if you have any projects you would like to discuss in further detail.
            </p>
        </div>
        <div class="col">
            <a href="/docs/resume.pdf">
                <span class="button btn-outline-light">download my cv</span>
            </a>
        </div>
    </div>
</div>
