<div class="d-flex justify-content-center align-middle" height="10%">
    <div>
        <h4>{{title}}</h4><br/>
        <form action="https://" method="post">
            username &nbsp;
            <input type="text" name="username" id="adminLogin" class="text-light"><br/>
            password &nbsp;
            <input type="password" name="password" id="adminLogin" class="text-light"><br/><br/>
            <span class="button btn-outline-light" onclick="ha();">login</span><br/>
            <span class="text-muted" id="ha"></span>
            <input type="submit" style="display: none;">
        </form>
    </div>
</div>