<div class="columns has-text-light is-vcentered">
  <div class="column">
    <div>
      <a href="https://cit412-movie-miner.ue.r.appspot.com/" target="_blank">
        <img src="/images/buttons/mm.png" class="code-button hvr-grow" alt="Movie Miner">
      </a><br>
      <a href="https://github.com/sch3p/MovieMiner">
        <button class="button is-info">View on GitHub</button>
      </a>
    </div>
    <br>
    <div>
      <a href="https://pedantic-jepsen-03d5eb.netlify.app/" target="_blank">
        <img src="/images/buttons/parking.png" class="code-button hvr-grow" alt="Parking Map">
      </a><br>
      <a href="https://github.com/sch3p/cit499-parking-app">
        <button class="button is-info">View on GitHub</button>
      </a>
    </div>
    <br>
    <div>
      <a href="https://cit412-noaschep-donationpal.ue.r.appspot.com" target="_blank">
        <img src="/images/buttons/dp.png" class="code-button hvr-grow" alt="Donation Pal">
      </a><br>
      <a href="https://github.com/sch3p/DonationPal">
        <button class="button is-info">View on GitHub</button>
      </a>
    </div>
    <br>
  </div>
</div>
