<div class="columns has-text-light is-vcentered">
  <div class="column">
    <div id="fader-2">
      <a href="https://pedantic-jepsen-03d5eb.netlify.app/" target="_blank">
        <img src="/images/buttons/parking.png" class="code-button hvr-grow" alt="Parking Map">
      </a>
      <br>
      <a href="https://github.com/sch3p/cit499-parking-app" target="_blank">
        <button class="button is-info">View on GitHub</button>
      </a>
      <a href="#comingsoon">
        <button class="button is-info">
          <span class="icon is-small">
            <i class="fas fa-info-circle"></i>
          </span>
        </button>
      </a>
    </div>
  </div>
  <div class="column">
    <div id="fader">
      <a href="https://cit412-movie-miner.ue.r.appspot.com/" target="_blank">
        <img src="/images/buttons/mm.png" class="code-button hvr-grow" alt="Movie Miner">
      </a>
      <br>
      <a href="https://github.com/sch3p/MovieMiner" target="_blank">
        <button class="button is-info">View on GitHub</button>
      </a>
      <a href="#comingsoon">
        <button class="button is-info">
          <span class="icon is-small">
            <i class="fas fa-info-circle"></i>
          </span>
        </button>
      </a>
    </div>
  </div>
  <div class="column">
    <div id="fader-3">
      <a href="https://cit412-noaschep-donationpal.ue.r.appspot.com" target="_blank">
        <img src="/images/buttons/dp.png" class="code-button hvr-grow" alt="Donation Pal">
      </a>
      <br>
      <a href="https://github.com/sch3p/DonationPal" target="_blank">
        <button class="button is-info">View on GitHub</button>
      </a>
      <a href="#comingsoon">
        <button class="button is-info">
          <span class="icon is-small">
            <i class="fas fa-info-circle"></i>
          </span>
        </button>
      </a>
    </div>
  </div>
</div>
