<div class="columns">
  <div class="column is-primary">
    <p class="has-text-light">Message received! ✔</p><br>
    <p class="text-muted" id="fader-2">nothing to worry about now, right?</p><br>
    <a href="/" class="has-text-light">
      <span class="neatoButton is-italic has-text-weight-bold">go home
      </span>
    </a>
  </div>
</div>
