<div class="d-flex justify-content-center align-middle">
    <div class="row">
        <div class="col">
		    <div class="text-center">
		        <p>An error happened when you tried to send that.</p>
		        <p class="text-muted" id="fader-2">{{theError}}</p>
		        <a href="/contact"><span class="button btn-outline-light font-weight-bold font-italic">go back</span></a>
		    </div>
    	</div>
	</div>
</div>