<div class="d-flex justify-content-center align-middle" height="10%">
    <div class="text-center">
        <p>an error occurred when sending that to Noah</p>
        <p class="text-muted" id="fader-2">dag nabbit.</p>
    </div>
</div>