<div class="text-center">
  <p>An error happened when you tried to send that.</p>
  <p class="has-text-grey-lighter" id="fader-2">{{theError}}</p>
  <a href="/contact">
    <span class="button btn-outline-light font-weight-bold font-italic">go back</span>
  </a>
</div>
