<div class="columns">
  <div class="column is-primary">
    <p class="has-text-light">An error happened when you tried to send that.</p><br>
    <p class="text-muted" id="fader-2">{{theError}}</p><br>
    <a href="/contact" class="has-text-light">
      <span class="neatoButton is-italic has-text-weight-bold">go back
      </span>
    </a>
  </div>
</div>
