<div class="d-flex justify-content-center align-middle" height="10%">
    <div class="text-center">
        <p>Message received!</p>
        <p class="text-muted" id="fader-2">nothing to worry about now, right?</p>
    </div>
</div>