<div class="d-flex justify-content-center align-middle">
    <div class="row">
        <div class="col">
		    <div class="text-center">
		        <p>Message received! ✔</p>
		        <p class="text-muted" id="fader-2">nothing to worry about now, right?</p>
		        <a href="/"><span class="button btn-outline-light font-weight-bold font-italic">go home</span></a>
		    </div>
    	</div>
    </div>
</div>