<div class="columns">
  <div class="column is-primary" id="fader">
    <p class="has-text-light">welp, this is an oopsie doodle if i've ever seen one before</p>
    <p class="text-muted has-text-centered" id="fader-2">don't tell mom</p>
  </div>
</div>
