<div class="d-flex justify-content-center align-middle" height="10%">
    <div class="text-center">
        <p>welp, this is an oopsie doodle if i've ever seen one before</p>
        <p class="text-muted" id="fader-2">don't tell mom</p>
        <h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
    </div>
</div>