<div class="d-flex justify-content-center align-middle mt-md-5" height="10%">
    <div class="text-center">
        <p>welcome.</p>
        <span class="button btn-outline-light">{{ title }}</span>
    </div>
</div>