<div class="d-flex justify-content-center align-middle mt-md-5" height="10%">
    <div>
        <p class="text-muted">seriously, stop snooping around man.</p>
        <p class="text-muted">don't do this to yourself.</p>
        <a href="#youdidthisnotme">
            <span class="button btn-outline-light">do it anyway</span>
        </a>
    </div>
</div>