<div class="d-flex justify-content-center align-middle mt-md-5" height="10%">
    <div>
        <h3 id="nothing">LOOK WHAT YOU DID.</h3>
        <div id="finger">
            <p class="text-muted">seriously, stop snooping around man.</p>
            <p class="text-muted">don't do this to yourself.</p>
        </div>
        <div id="didit">
            <a>
                <span class="button btn-outline-light" onclick="chc();">do it anyway</span>
            </a>
        </div>
    </div>
</div>