<div class="d-flex justify-content-center align-middle">
    <div class="row">
        <div class="col">
            <h3 id="nothing">LOOK WHAT YOU DID.</h3>
            <div id="finger">
                <p class="text-muted">seriously, stop snooping around man.</p>
                <p class="text-muted">don't do this to yourself.</p>
            </div>
            <div id="didit">
                <a href="#youdidthisnotme">
                    <span class="neatoButton" onclick="chc();">do it anyway</span>
                </a>&nbsp;|&nbsp;
                <a href="https://admin.noahschepers.com">
                    <span class="neatoButton">just logging in</span>
                </a>
            </div>
        </div>
    </div>
</div>