<div class="columns has-text-light is-vcentered">
  <div class="column is-two-thirds" id="fader-2">
    <p>Project created with:</p><br>
    <div>
      <a href="https://nodejs.org/" target="_blank">
        <img src="/images/buttons/nodejs.png" class="logo-button hvr-grow" alt="Node JS">
      </a>
    </div>
    <div>
      <a href="https://expressjs.com/" target="_blank">
        <img src="/images/buttons/express.png" class="logo-button hvr-grow" alt="Express">
      </a>
    </div>
    <div>
      <a href="https://mariadb.org/" target="_blank">
        <img src="/images/buttons/mariadb.png" class="logo-button hvr-grow" alt="MariaDB">
      </a>
    </div>
    <div>
      <a href="https://handlebarsjs.com/" target="_blank">
        <img src="/images/buttons/hbs.png" class="logo-button hvr-grow" alt="HBS">
      </a>
    </div>
  </div>
  <div class="column" id="fader-3">
    <a href="https://github.com/sch3p/SapphireWebServer" class="has-text-light" target="_blank">
      <span class="neatoButton">view on github</span>
    </a><br><br>
    <a href="https://admin.noahschepers.com" class="has-text-light" target="_blank">
      <span class="neatoButton">admin portal</span>
    </a>
  </div>
</div>
