body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Ubuntu', sans-serif !important;
  background-color: #222424 !important;
  color: white;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-user-select: none;
}

.tab {
  display: none;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #E0670A;
}

#anti {
  color: rgba(173, 173, 173, 0.15);
  -webkit-animation: flickerAnim 3s infinite;
          animation: flickerAnim 3s infinite;
}

@-webkit-keyframes flickerAnim {
  0% { opacity: 0;}
  50% { opacity: 1;}
  100% { opacity: 0;}
}

@keyframes flickerAnim {
  0% { opacity: 0;}
  50% { opacity: 1;}
  100% { opacity: 0;}
}

.TheKing {
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
}

.ul-nb {
  list-style: none;
}

.Site-header {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  align-items: center;
}

.Site-content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.Site-footer {
  color: white;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-user-select: none;
  margin: auto auto 0 auto;
  padding-bottom: 20px;
}

.Content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.cl .cr {
  display: flex;
  flex-direction: column;
}

.cl {
  justify-content: left;
}

.cr {
  justify-content: right;
}

.contact-form {
  width: 100%;
}

.Form-container {
  display: flex;
  flex-flow: column wrap;
  /* font-size: 20px; */
  line-height: 2em;
  width: auto;
  padding: 30px;
}

.contact-input {
  background: transparent !important;
  border: none !important;
  border-bottom: 1px solid #ffffff !important;
  color: white;
  width: 100%;
}

.footer-icon.animated {
  -webkit-animation: filter-animation 10000ms 0ms infinite linear;
  animation: filter-animation 10000ms 0ms infinite linear;
}

#nothing {
  color: #222424 !important;
  display: none;
}

a {
  text-decoration: none !important;
}

.logo-button {
  border-radius: 5%;
  width: 60%;
  height: auto;
  margin-bottom: 10px;
}

.code-button {
  border-radius: 3%;
  margin-bottom: 20px;
}

a:hover {
  color: #b8bbd6 !important;
}

.invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.invert:hover {
  -webkit-filter: invert(80%);
  filter: invert(80%);
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#fader {
  -webkit-animation: fadeIn 3s;
  animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
}

#fader-2 {
  -webkit-animation: fadeIn2 3s;
  animation: fadeIn2 3s;
  -moz-animation: fadeIn2 3s;
}

#fader-3 {
  -webkit-animation: fadeIn3 3s;
  animation: fadeIn3 3s;
  -moz-animation: fadeIn3 3s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn2 {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

@-webkit-keyframes fadeIn3 {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

@keyframes fadeIn3 {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

.nope {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-user-select: none;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-shrink:hover,
.hvr-shrink:focus,
.hvr-shrink:active {
  transform: scale(0.9);
}

.rCircle {
  border-radius: 50%;
  height: 88px;
  width: auto;
}

@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: hue-rotate();
            filter: hue-rotate();
  }

  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes filter-animation {
  0% {
    -webkit-filter: hue-rotate();
            filter: hue-rotate();
  }

  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

.neatoButton:hover {
  background-color: white;
  color: #222424;
}

.vl {
  border-left: 1px solid white;
  height: auto;
}
