body {
  padding: 50px;
  font-family: 'Ubuntu', sans-serif !important;
  background-color: #222424 !important;
  color: white !important;
}

#nothing {
  color: #222424 !important;
  display: none;
}

a {
  color: white !important;
  text-decoration: none !important;
}

a:hover {
  color: #b8bbd6 !important;
}

.invert {
  filter: invert(100%);
}

.invert:hover {
  filter: invert(80%);
}

hr {
  border: .5px solid white !important;
  width: 70vw;
}

#fader {
  animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
}

#fader-2 {
  animation: fadeIn2 3s;
  -moz-animation: fadeIn2 3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.nope {
  user-select: none;
  -moz-user-select: none;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

/* FOOTER */
.footer {
  position: fixed;
  left: 0;
  margin: 0 auto;
  bottom: 15px;
  width: 100%;
  color: white;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
}

.footer-icon.animated {
  -webkit-animation: filter-animation 10000ms 0ms infinite linear;
  animation: filter-animation 10000ms 0ms infinite linear;
}

@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }
  
  100% {
    -webkit-filter: hue-rotate(360deg);
  }
}

@keyframes filter-animation {
  0% {
    filter: hue-rotate(0deg);
  }
  
  100% {
    filter: hue-rotate(360deg);
  }
}

.neatoButton:hover {
  background-color: white;
  color: #222424;
}

.getUpHere {
  margin: 0px !important;
  padding: 0px !important;
  height: 300px !important;
}

/* input stuffs */

#contact-input {
  background: transparent !important;
  border: none !important;
  border-bottom: 1px solid #ffffff !important;
}